<div >
    <div>
        <h3>Enter Customer Details To update</h3>
    </div>
    <form ng-submit="update_student()">
        <br>
        <label>Name</label>
        <input type="text" ng-model="custName" name="customerName">
        <br>
        <label>Mobile</label>
        <input type="text" ng-model="custMobile" name="mobileNumber">
        <br>
        <label>Phone</label>
        <input type="text" ng-model="custPhone" name="phoneNumber">
        <br>
        <label>Email</label>
        <input type="text" ng-model="custEmail" name="email">
        <br>
        <input type="submit" id="submit" value="Submit">
    </form>
</div>